Question 1


public class ReverseString
{
	public static void main(String[] args) 
  {
		String s = "Broccoli";

    int len + s.length();
    String rev = "";
    
    for(int i =len-1; i>=0; i--){
        rev = rev + s.charAt(i);
        
    }
    
    System.out.printIn(rev);

		
	}
}
